table {
    margin-top: 35px;
    margin-left: 35px;
    text-align: center;
    background-color: indianred;
}

td {
    font-size: x-large;
    color: white;
    padding: 8px;
    text-align: center;
    transition: font-size 0.3s ease;
}

table tr td:hover {
    font-size: 95%;
}
